<?xml version='1.0' encoding='utf-8' ?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>ChangeLog Editor User Guide</title>
		<link type="text/css" rel="stylesheet" href="../../../book.css"/>
	</head>
	<body>
		<table class="navigation" style="width: 100%;" border="0" summary="navigation">
			<tr>
				<th style="width: 100%" align="center" colspan="3">ChangeLog Editor User Guide</th>
			</tr>
			<tr>
				<td style="width: 20%" align="left"></td>
				<td style="width: 60%" align="center"></td>
				<td style="width: 20%" align="right">
					<a href="ChangeLog-Preferences.html" title="ChangeLog Preferences">
						<img alt="Next" border="0" src="../../../images/next.gif"/>
					</a>
				</td>
			</tr>
			<tr>
				<td style="width: 20%" align="left" valign="top"></td>
				<td style="width: 60%" align="center"></td>
				<td style="width: 20%" align="right" valign="top">ChangeLog Preferences</td>
			</tr>
		</table><hr/>
		<p>{{#eclipseproject:technology.linux-distros}}
			&lt;css&gt;</p>
		<ol>
			<li>menu-nav {</li>
		</ol>
		<pre> margin-bottom: 2em;
</pre>
		<p>}</p>
		<ol>
			<li>menu-nav ul {</li>
		</ol>
		<pre> padding: 3px 0 1px 1em;
 margin:0;
 border-bottom: 1px solid #aaa;
</pre>
		<p>}</p>
		<ol>
			<li>menu-nav li {</li>
		</ol>
		<pre> list-style: none;
 margin: 0;
 display: inline;
</pre>
		<p>}</p>
		<ol>
			<li>menu-nav li a {</li>
		</ol>
		<pre> padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #aaa;
 border-bottom: none;
 background: #eef;
 text-decoration: none;
</pre>
		<p>}</p>
		<ol>
			<li>menu-nav li a:link { color: #448; }</li>
			<li>menu-nav li a:visited { color: #667; }</li>
			<li>menu-nav li a:hover {</li>
		</ol>
		<pre> color: #000;
 background: #ccf;
 border-color: #227;
</pre>
		<p>}</p>
		<ol>
			<li>menu-nav li span#current a</li>
		</ol>
		<p>{</p>
		<pre> background: #fff;
 border-bottom: 1px solid #fff;
</pre>
		<p>}</p>
		<ol>
			<li>menu-nav li .selflink {</li>
		</ol>
		<pre> padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #aaa;
 background: #fff;
 border-bottom: 1px solid #fff;
</pre>
		<p>}</p>
		<p>table.menu-table, .menu-table table {</p>
		<pre> border: 1px solid #aaa;
 border-collapse: collapse;
</pre>
		<p>}
			.menu-table td {</p>
		<pre> border: 1px solid #aaa;
 padding: 0.5em 1em;
</pre>
		<p>}
			.menu-table th {</p>
		<pre> border: 1px solid #aaa;
 background-color: #eef;
</pre>
		<p>}
			.menu-table caption {</p>
		<pre> border: 1px #aaa solid;
 margin: 1em 0 0.2em 0;
 background-color: #ccf;
 font-weight: bold;
 font-size: 1.1em;
</pre>
		<p>}</p>
		<ol>
			<li>content dl  {</li>
		</ol>
		<pre> border-left: 1px #aaa solid;
 border-bottom: 1px #aaa solid;
</pre>
		<p>}</p>
		<ol>
			<li>content dl dt {</li>
		</ol>
		<pre> float: left;
 border-top: 1px solid #aaa;
 padding: 0.5em 0 0 0.5em;
</pre>
		<p>}</p>
		<ol>
			<li>content dl dd {</li>
		</ol>
		<pre> border: 1px solid #aaa;
 border-bottom: none;
</pre>
		<p>}</p>
		<ol>
			<li>content .narrow-list dl  {</li>
		</ol>
		<pre> width: 40em;
</pre>
		<p>}</p>
		<ol>
			<li>content .narrow-list dl dt {</li>
		</ol>
		<pre> width: 14em;
 line-height: 1em;
</pre>
		<p>}</p>
		<ol>
			<li>content .narrow-list dl dd {</li>
		</ol>
		<pre> margin: 0 0 0 15em;
 padding: 0.5em 1em;
</pre>
		<p>}</p>
		<ol>
			<li>content .wide-list dl, #content dl {</li>
		</ol>
		<pre> width: 80em;
</pre>
		<p>}</p>
		<ol>
			<li>content .wide-list dl dt, #content dl dt {</li>
		</ol>
		<pre> padding: 0.5em 1em;
 width: 15em;
</pre>
		<p>}</p>
		<ol>
			<li>content .wide-list dl dd, #content dl dd {</li>
		</ol>
		<pre> padding: 1em 1em 2em 2em;
 margin: 0 0 0 17em;
</pre>
		<p>}</p>
		<ol>
			<li>content .unbounded-list dl, #content .unbounded-list dl dd, #content .unbounded-list dl dt {</li>
		</ol>
		<pre> border: 0 none;
 width: auto;
 padding: 0 0 0 1em;
</pre>
		<p>}</p>
		<ol>
			<li>content .unbounded-list dl dt {</li>
		</ol>
		<pre> line-height: 1.2em;
</pre>
		<p>}</p>
		<p>.infobox {</p>
		<pre> padding: 0.5em 1em;
 background-color: #fff;
 float: right;
 margin: 0.5em;
</pre>
		<p>}
			&lt;/css&gt; 
<div id="menu-nav"></p>
		<ul>
			<li>
				<a href="http://wiki.eclipse.org/Linux_Tools_Project/User_Guides" title="Linux_Tools_Project/User_Guides">User Guides</a> 
			</li>
			<li>
				<a href="http://wiki.eclipse.org/Linux_Tools_Project/Contributor_Guide" title="Linux_Tools_Project/Contributor_Guide">Contributor Guides </a>  
			</li>
			<li>
				<a href="http://wiki.eclipse.org/Linux_Tools_Project/FAQ" title="Linux_Tools_Project/FAQ">FAQ</a>
			</li>
			<li>
				<a href="http://wiki.eclipse.org/Linux_Tools_Project/Learning_Material" title="Linux_Tools_Project/Learning_Material">Learning</a>
			</li>
			<li>
				<a href="http://wiki.eclipse.org/Linux_Tools_Project/Planning" title="Linux_Tools_Project/Planning">Planning</a>
			</li>
			<li>
				<a href="http://wiki.eclipse.org/Linux_Tools_Project/News" title="Linux_Tools_Project/News">News</a>
			</li>
		</ul>
		<p></div> 
			{{Infobox
			| name = Linux Tools
			| download = 
			<a href="http://www.eclipse.org/linuxtools/downloads.php">http://www.eclipse.org/linuxtools/downloads.php</a>
			| website = 
			<a href="http://eclipse.org/linuxtools">http://eclipse.org/linuxtools</a>
			| list = linuxtools-dev
			| irc = #eclipse-linux
			| newsgroup = eclipse.technology.linuxtools
			| product = Technology
			| source = 
			<a href="http://git.eclipse.org/c/linuxtools/org.eclipse.linuxtools.git/">http://git.eclipse.org/c/linuxtools/org.eclipse.linuxtools.git/</a>
			}}
		</p>
		<h1 id="Overview">Overview</h1>
		<p>The ChangeLog plug-in for Eclipse is a basic set of extensions to enable ChangeLog functionality for projects in Eclipse.</p>
		<p>Before using the plug-in, you should set the ChangeLog preferences. These preferences include the name and e-mail address you wish to use in a ChangeLog entry. </p>
		<p>The default name and e-mail address used by the ChangeLog plug-in are your workstation username and your username@hostname information, respectively. If you set the environment variables <code>ECLIPSE_CHANGELOG_REALNAME</code> and/or <code>ECLIPSE_CHANGELOG_EMAIL</code>, the ChangeLog plug-in will use these as the default name and e-mail address instead. </p><hr/>
		<table class="navigation" style="width: 100%;" border="0" summary="navigation">
			<tr>
				<td style="width: 20%" align="left"></td>
				<td style="width: 60%" align="center"></td>
				<td style="width: 20%" align="right">
					<a href="ChangeLog-Preferences.html" title="ChangeLog Preferences">
						<img alt="Next" border="0" src="../../../images/next.gif"/>
					</a>
				</td>
			</tr>
			<tr>
				<td style="width: 20%" align="left" valign="top"></td>
				<td style="width: 60%" align="center"></td>
				<td style="width: 20%" align="right" valign="top">ChangeLog Preferences</td>
			</tr>
		</table>
	</body>
</html>