/*******************************************************************************
 * Copyright (c) 2010, 2014 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     IBM Corporation - initial API and implementation
 *     Lars Vogel <Lars.Vogel@gmail.com> - Bug 420836
 *******************************************************************************/

@import url("platform:/plugin/org.eclipse.ui.themes/css/e4_basestyle.css"); 

.MTrimmedWindow { 
	background-color: #E2E2E2; 
}

.MPartStack {
	swt-simple: false;
	swt-mru-visible: false;
}

.MTrimBar {
	background-color: #E2E2E2; 
}

.MTrimBar#org-eclipse-ui-main-toolbar  {
	background-color: COLOR-WIDGET-BACKGROUND #E2E2E2 100%;
}

.MToolControl.TrimStack {
	frame-image:  url(./gtkTSFrame.png);
	handle-image:  url(./gtkHandle.png);
}

.MPartStack.active {
	swt-unselected-tabs-color: #DCDCDC #E1E1E1 #FFFFFF 100% 100%;
	swt-outer-keyline-color: #B4B4B4;
	swt-tab-outline: #B4B4B4;
}

#PerspectiveSwitcher { 
	background-color: COLOR-WIDGET-BACKGROUND #E2E2E2 100%;
	eclipse-perspective-keyline-color: #B4B4B4 #B4B4B4;
}

#org-eclipse-ui-editorss {
	swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
	swt-unselected-tabs-color: #F0F0F0 #F0F0F0 #F0F0F0 100% 100%;
	swt-outer-keyline-color: #B4B4B4;
	swt-inner-keyline-color: #F0F0F0;
	swt-tab-outline: #F0F0F0;
	color: #F0F0F0;
	swt-tab-height: 8px;
	padding: 0px 5px 7px;
}

CTabFolder.MArea .MPartStack, CTabFolder.MArea .MPartStack.active {
	swt-shadow-visible: false;
}

CTabFolder Canvas {
	background-color: #F8F8F8;
}

