/*******************************************************************************
 * Copyright (c) 2010, 2014 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     IBM Corporation - initial API and implementation
 *     Lars Vogel <Lars.Vogel@gmail.com> - Bug 420836
 *******************************************************************************/

@import url("platform:/plugin/org.eclipse.ui.themes/css/e4_basestyle.css"); 

.MTrimmedWindow { 
	background-color: #E1E6F6; 
}

.MPartStack {
	swt-simple: true;
	swt-mru-visible: true;
}

.MTrimBar {
	background-color: #E1E6F6; 
}

.MToolControl.TrimStack {
	frame-image:  url(./win7TSFrame.png);
	handle-image:  url(./win7Handle.png);
}

.MTrimBar#org-eclipse-ui-main-toolbar {
	background-image:  url(./win7.png);	
}

.MPartStack.active {
	swt-unselected-tabs-color: #F3F9FF #D0DFEE #CEDDED #CEDDED #D2E1F0 #D2E1F0 #FFFFFF 20% 45% 60% 70% 100% 100%;
	swt-outer-keyline-color: #B6BCCC;
}

#PerspectiveSwitcher  {
	background-color: #F5F7FC #E1E6F6 100%;
}

#org-eclipse-ui-editorss {
	swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
	swt-unselected-tabs-color: #F0F0F0 #F0F0F0 #F0F0F0 100% 100%;
	swt-outer-keyline-color: #B4B4B4;
	swt-inner-keyline-color: #F0F0F0;
	swt-tab-outline: #F0F0F0;
	color: #F0F0F0;
	swt-tab-height: 8px;
	padding: 0px 5px 7px;
}

CTabFolder.MArea .MPartStack, CTabFolder.MArea .MPartStack.active {
	swt-shadow-visible: false;
}

CTabFolder Canvas {
	background-color: #F8F8F8;
}
