.MTrimmedWindow {  
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

.MPartStack {
  swt-tab-renderer: null;
  swt-selected-tabs-background: #FFFFFF #ECE9D8 100%;
  swt-simple: false;
  swt-mru-visible: true;
  color: #000000;
}


.MPartStack.active {
  swt-selected-tabs-background: #E5EDFC #99BAF3 100%;
}

#PerspectiveSwitcher  {
	eclipse-perspective-keyline-color: #ECE9D8 #FFFFFF;
}

.MToolControl.TrimStack {
	frame-image:  url(./winClassicTSFrame.png);
	handle-image:  url(./winClassicHandle.png);
	frame-cuts: 5px 1px 5px 16px;
}

FontDefinition#org-eclipse-ui-workbench-TAB_TEXT_FONT {
	font-family: 'Comic Sans MS';
	font-size: 10;
	font-style: normal;
}

.MToolBar.Draggable {
	handle-image:  url(./dragHandle.png);
}

.MToolControl.Draggable {
	handle-image:  url(./dragHandle.png);
}

.DragFeedback {
    background-color: COLOR-WIDGET-NORMAL-SHADOW;
}

.ModifiedDragFeedback {
    background-color: #A0A000; 
}

CTabItem {
	font-style: normal;
	font-weight: normal;
}

CTabItem.busy {
	font-style: italic;
}

CTabItem.highlighted {
	font-weight: bold;
}
