/* NorthScale Menelaus Web Console */
/* begin ultimate reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100.01%;
	vertical-align: baseline;
	background: transparent;
}



/* links decoration */


/* universal styles */
body { background: url(../images/background.png) repeat-x; }
.nobr {white-space:nowrap;}
.tdn {text-decoration:none;}
.tdn * {text-decoration:none;}
.block {display:block !important;}
.right {text-align:right !important;}
.cntr {text-align:center;}
.float_right {float:right;}
.float_left {float:left;}
.clear {display:block; height:0px; overflow:hidden; clear:both;}
.pad_10 {padding:10px;}
.pat_10 {padding:10px 0;}
.pat_20 {padding:20px 0;}
.pas_10 {padding:0 10px;}
.pas_20 {padding:0 20px;}
.pab_10 {padding-bottom:10px;}
.comment {font-size:11px; color:#8b8b8e;}
.nbrdr {border:0px !important;}
.nbrdr * {border:0px !important;}
.bimnone {background-image:none !important;}
.gray_link {/*color:#444245 !important;*/}
.text_11 {font-size:11px !important;}
.text_12 {font-size:12px;}
.text_14 {font-size:14px !important;}
.mt-10 {margin-top:-10px;}
.mt-20 {margin-top:-20px;}
.bolder {font-weight:bolder;}
.normal {font-weight:normal;}
.norm_14 {font-size:14px !important; font-weight:normal !important;}
.point {cursor:point;}
.brdr_exl_t {border:1px solid #d4d4d5; border-top:0px;}
.brdr_exl_r {border:1px solid #d4d4d5; border-right:0px;}
.border_all {border:1px solid #d4d4d5;}
.head_2_underline {border-bottom:1px solid #d5d9dc; font-size:14px; font-weight:normal; padding:5px 0;}
.text {border:1px solid #ccd2d6; background:none #fff; padding:2px 3px; font-size:12px;}
.inp_short {width:130px; margin:0 15px 0 0; padding:4px 3px;}
.select {border:1px solid #ccd2d6; background:none #fff; font-size:12px;}
.select option {padding:2px 3px;}
.select_short {width:120px;}
.nobg {background:none !important;}
.lbox pre {background:none #fff; border:1px solid #CCD3D7; padding:10px; margin:5px 0; white-space:normal;}
.info_text {font-size:13px !important;}
#get_started .info_text {font-weight:bolder;}
.disabled {opacity:0.5; cursor:default !important; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
.blue_highlighted {color:#0095D6 !important;}
.warn {font-size:14px; color:#ec5223;}
.warn ul {list-style-type:disc; margin:0 0 0 15px;}
.ovf {overflow:hidden;}
.spac_5 {height:5px; overflow:hidden;}
.full_width {width:100%;}

.main_holder {width:960px; position:relative; margin:auto; left:0px !important;}

.save_cancel {height:31px; padding:5px 0;}
.save_cancel button {position:relative; top:-1px; cursor:pointer;}
.save_cancel .save_button {display:block; width:121px; height:31px; font-weight:bolder; color:#fff; text-align:center; line-height:31px; font-size:14px; text-decoration:none; background:url(../images/button_blue.gif) 0 0 no-repeat; border:0px;}
.save_cancel .save_button:hover {background-position:0 -31px;}
.save_cancel .save_button:active {background-position:0 -62px;}

.save_cancel .delete_button {display:block; width:121px; height:31px; font-weight:bolder; color:#fff; text-align:center; line-height:31px; font-size:14px; text-decoration:none; background:url(../images/button_red.gif) 0 0 no-repeat; border:0px; margin-right:10px;}
.save_cancel .delete_button:hover {background-position:0 -31px;}
.save_cancel .delete_button:active {background-position:0 -62px;}

.save_cancel .button_3 {width:146px; height:31px; background:url(../images/button_blue_3.gif) 0 0 no-repeat;}
.save_cancel .cancel_button {display:block; width:80px; height:31px; line-height:31px; color:#8b8b8e; text-align:center; font-weight:bolder; text-decoration:none; margin-right:30px;}
.save_cancel .button_3:hover {background-position:0 -31px;}
.save_cancel .button_3:active {background-position:0 -62px;}

.form {padding:10px 0 15px 0;}
.form a {text-decoration:none;}
.form_section_title {font-size:12px; font-weight:bolder; color:#626b6c; padding:5px 0;}

.form label .check {float:left; margin:0 5px 0 0;}

.cnt_holder {width:960px; position:relative; left:12%;}

.topper_nav {float:right; font-size:11px; padding:15px 0 0 0;}
.topper_nav a {color:#e3e8ea !important; text-decoration:none;}
.topper_nav b {margin:0 2px; color:#848f96; font-weight:bolder;}

/* buttons */
a.button_medium {display:block; color:#444245 !important; text-decoration:none !important}
.button_medium {width:154px; height:32px; font-size:14px; border:0px; overflow:visible; background:url(../images/button_gray_medium.gif) 0 0 no-repeat; line-height:32px; cursor:pointer; color:#444245; text-align:center; text-decoration:none;}
.button_medium:hover {background-position:0 -32px; color:#f8eeed !important;}
.button_medium:active {background-position:0 -64px; color:#e0eff7 !important;}

a.button_200 {display:block; color:#444245 !important; text-decoration:none !important}
.button_200 {width:200px; height:32px; font-size:14px; border:0px; overflow:visible; background:url(../images/button_gray_200.gif) 0 0 no-repeat; line-height:32px; cursor:pointer; color:#444245; text-align:center; text-decoration:none;}
/* disabled for beta1 .button_200:hover {background-position:0 -32px; color:#f8eeed !important;}
.button_200:active {background-position:0 -64px; color:#e0eff7 !important;} */

/* alerts */
.alert_1 {display:block; width:28px; height:29px; background:url(../images/alert_1.gif) 0 0 no-repeat; margin:-7px 0 0 0;}
.labeled_line .alert_1 {float:left;}

.header_2 {height:40px; line-height:40px; padding:5px 10px 0 11px; font-size:18px; font-family:Helvetica, Verdana; background:url(../images/devider_line_1.gif) 0 100% repeat-x #dfe0e0; font-weight:normal;}
.header_2 span {color:#f2692d;}
.header_2 span a {/*color:#f2692d;*/}
.header_2 .nav {color:#b6b6ba; font-size:11px; padding:0 11px 0 0;}
.header_2 .nav a {font-weight:bolder; color:#0095d6; margin:0 3px; cursor:pointer;}
.header_2 .nav .current {color:#444245; cursor:default;}

.header_2 .expander_2 {margin:0 5px 0 0; position:relative; top:14px;}
.expander_2 {width:11px; height:11px; float:left; background:url(../images/expander_2_bg.gif) 0 0 no-repeat; overflow:hidden;}
/*.expanded_2 {background-position:0 -11px;}*/
.expanded .expander_2 {background-position:0 -11px;}

h1 {font-size:20px; font-weight:normal;}
h1 .nav {display:block; padding:8px 10px 0 0; text-transform:none;}
h1 .nav a {font-size:11px; font-weight:bolder; cursor:pointer;}
#mainPanel h1 {text-transform:uppercase; padding:0 0 10px 9px;}

.labeled_line {padding:10px;}
.form .labeled_line {padding:6px 10px;}
.labeled_line .label {font-size:12px; float:left; text-align:right; width:145px; margin:0px; padding:0px;}
.labeled_line .for_table {padding:3px 0 0 0;}
.labeled_line .for_server_line {padding-top:20px;}
.labeled_line .for_usage_big {padding-top:5px;}
.labeled_line .for_input {padding-top:7px;}
.labeled_line .line_cnt {margin:0 0 0 155px;}
.labeled_line .line_cnt table {width:100%;}
.form .labeled_line .line_cnt {line-height:15px;}

.percentage_big {height:25px; clear:both;}
.percentage_big .usage_big {float:left; width:513px;}
.percentage_big .usage_big .unused {width:320px;}
.percentage_big .usage_big .comment {margin:0 0 0 336px;}
.percentage_big a.text_11 {position:relative; top:6px; margin:0 0 0 5px;}

.gong_rb {background:none #e2e3e3; position:relative;}
.gong_rb .pad {padding:10px !important; background:none !important;}
.gong_rb .side {width:9px; height:9px; position:absolute; background:url(../images/gong_rb.gif) 0 0 no-repeat; overflow:hidden;}
.gong_rb .side_1 {background-position:0 0px; left:0px; top:0px;}
.gong_rb .side_2 {background-position:0 -9px; right:0px; top:0px;}
.gong_rb .side_3 {background-position:0 -18px; right:0px; bottom:0px;}
.gong_rb .side_4 {background-position:0 -27px; left:0px; bottom:0px;}

.gray_rb {height:71px; overflow:hidden; background:url(../images/gray_box_bg.gif) 0 -142px repeat-x;}
.gray_rb .left {background:url(../images/gray_box_bg.gif) 0 0 no-repeat;}
.gray_rb .right {height:71px; background:url(../images/gray_box_bg.gif) 100% -71px no-repeat;}
.gray_rb .pad {padding:12px 10px 12px 13px !important; background:none !important;}

.button_big {display:block; height:47px; overflow:hidden; background:url(../images/large_buttons_bg.gif) 0 0 repeat-x; font-size:18px; color:#444245 !important; line-height:47px; text-align:center; width:223px; float:left; margin:0 1%; cursor:pointer; text-decoration:none !important; position:relative;}
.button_big span {display:block; background:url(../images/button_gray_big.gif) 0 0 no-repeat; overflow:hidden;}
.button_big span span {height:47px; background:url(../images/button_gray_big.gif) 100% -47px no-repeat;}

.button_big:hover {background-position:0 -47px; color:#f9efed !important;}
.button_big:hover span {background-position:0 -141px;}
.button_big:hover span span {background-position:100% -188px;}

.button_big:active {background-position:0 -94px; color:#e1f0f8 !important;}
.button_big:active span {background-position:0 -282px;}
.button_big:active span span {background-position:100% -329px;}

.usage_small {width:183px; height:16px; overflow:hidden; background:url(../images/usage_small.gif) 0 0 no-repeat; position:relative; top:-2px; margin:0 5px;}
.usage_small * {background:url(../images/usage_small.gif) 0 0 no-repeat; height:16px; overflow:hidden;}
.usage_small .side_shadow {background-position:100% 0; padding:0 2px;}
.usage_small .unused {background-position:0 -32px;}
.usage_small .used {background-position:0 -16px;}

.usage_big {height:24px; overflow:hidden; background:url(../images/usage_big.gif) 100% 0 no-repeat;}
.usage_big * {height:24px; overflow:hidden; background:url(../images/usage_big.gif) 100% 0 no-repeat;}
.usage_big .unused {width:420px; background-position:0 -72px; float:left;}
.usage_big .used {background-position:0 -24px;}
.red .used {background-position:0 -48px;}
.usage_big .comment {background:none; line-height:24px; font-size:11px; color:#8b8b8e; margin:0 0 0 430px;}

.usage_smallest {background:url(../images/usage_smallest.gif) 0 0 no-repeat; height:15px; overflow:hidden; width:91px;}
.usage_smallest * {background:url(../images/usage_smallest.gif) 0 0 no-repeat; height:15px; overflow:hidden;}
.usage_smallest .side_shadow {background-position:100% 0; padding:0 2px;}
.usage_smallest .unused {background-position:0 -15px;}
.usage_smallest .used {background-position:0 -30px;}
.usage_smallest_info {width:135px; font-size:11px; color:#8a8a8d; line-height:15px;}
.usage_smallest_info .usage_smallest {float:left; margin:0 5px 0 0;}

a {color:#0095d6; cursor:pointer; text-decoration:none; outline:none;}
a:hover {text-decoration:underline;}
.link {color:#0095d6; cursor:pointer; text-decoration:none;}
.link:hover {text-decoration:underline;}
.link:active {outline:1px dotted gray;}

body {
	line-height: 1;
  color:#444245;
  height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote, q
{
	quotes: none;
}

/*
Safari doesn't support the quotes attribute, so we do this instead.
*/
blockquote:before, blockquote:after, q:before, q:after
{
	/*
	CSS 2; used to remove quotes in case "none" fails below.
	*/
	content: "";
	/*
	CSS 2.1; will remove quotes if supported, and override the above.
	User-agents that don't understand "none" should ignore it, and
	keep the above value. This is here for future compatibility,
	though I'm not 100% convinced that it's a good idea...
	*/
	content: none;
}

textarea { overflow: auto; }
input { border: 0px solid white; margin: 0;  padding: 0; }

/* end reset */

/* all links */
a:link {
/*	color: #00A6DE;*/
  color:#0095d6;
/*	text-decoration: none;*/
}

#container {
  background-color: #fff;
  position: absolute;
    width: 100%;
  min-width:960px;
	min-height: 100%;
}

.page-header {
	background: url('../images/ns_console_headerbg.png') repeat-x;
	height: 100px;
/*	left: 12%;*/
}

.page-header span {
	position: absolute;
	background: url('../images/ns_console_logov2.png') no-repeat;
	width: 331px;
	height: 57px;
	top: 25px;
	left:0;
}

#mainContainer {
	position: relative;
	width: 960px;
	left: 12%;
	/*margin-top: 50px;*/
  padding:0 0 220px 0;
}

#mainContainer #nojs_alert {display:block; font-size:16px; padding:20px 0; display:none;}

.page-footer {
	position: absolute;
	background: url('../images/ns_console_footer.png') repeat-x;
	width: 100%;
	height: 208px;
	bottom: 0;
}

.page-footer h1 {
  text-transform: none;
	padding-top: 32px;
/*	margin-left: 12%;*/
	font-family: Verdana;
	font-weight: normal;
	font-size: 11pt;
	color: 	#97979A;;
}

.page-footer a {
	color: #00A6DE;
	text-decoration: none;
}

td.notify {
}

td.leftNav {width:180px; vertical-align:top;}
td.leftNav ul {display:block; width:160px; border-top:1px solid #e4e9eb; margin:0 0 20px 0;}
td.leftNav ul ul {margin:0 0 -1px 0;}
td.leftNav h1 {padding:0 0 15px 5px; color:#444245; text-transform:uppercase;}
td.leftNav li {
  display:block;
  min-height:29px;
  width:160px;
  vertical-align:middle;
  text-align:left;
  line-height:29px;
  font-size:12px;
  border-bottom:1px solid #e4e9eb;
}
td.leftNav li a {display:block; height:29px; text-decoration:none;padding:0 0 0 12px}
td.leftNav li a:hover {background:none #eaf4f9;}
td.leftNav li.line {
	background-position: bottom left;
}
td.leftNav li.disabled {padding:0 0 0 12px;}

td.leftNav li.indent {
	margin-left: 20px;
}

td.leftNav li a.currentNav {background:none #dae4e9;}

td.leftNavDisabled {color:#ff0000;}

#mainPanel {
	font-family: Helvetica;
	font-weight: normal;
	font-size: 12px;
}

body { font-family: Helvetica, Verdana;}

/* analytics graph */
#analytics_main_graph { position: relative; width:742px; height:269px;}
#analytics_main_graph_grid {position:relative; margin:0 auto 10px auto; width:742px; height:269px;}

.analytics-small-graph {display:block; width:166px !important; height:61px !important; float:left; overflow:hidden; background:url(../images/mini_graph_bg.gif) 0 0 no-repeat; margin:0 12px 7px 12px; cursor:pointer; position:relative; text-decoration:none;}

.analytics_graph_main {/*height:300px; background:url(../images/devider_line_2.gif) 0 100% repeat-x #eeeeef;*/ /*border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb;*/ padding:0 10px;}
.graph_info_label {padding:3px; font-size:11px;}
.graph_nav {padding:10px 0 10px 2px;}
.graph_nav .analytics-small-graph {display:block; width:166px !important; height:61px !important; float:left; overflow:hidden;
background:url(../images/mini_graph_bg.gif) 0 0 no-repeat; margin:0 12px 7px 12px; cursor:pointer; position:relative; text-decoration:none;}
.graph_nav .analytics-small-graph:hover {background-position:0 -122px;}
.graph_nav .analytics-small-graph span {background:none; margin:0px;}
.selected {background:url(../images/mini_graph_bg.gif) 0 -61px no-repeat !important; text-decoration:none !important;}
.graph_nav .spinner span {position:relative; width:150px !important; height:15px !important; padding:20px 0 0 0; font-size:11px; color:#839aa6; margin:0 0 0 8px; top:5px; background:url(../images/spinner/spinner_gr_nav.gif) 66px 0 no-repeat; text-align:center; line-height:12px !important;}
.graph_nav .selected .spinner span {background:url(../images/spinner/spinner2_gr_nav.gif) 66px 0 no-repeat; color:#d8e0e5;}

.analytics-small-graph .small_graph_block {width:160px; height:36px; margin:4px 0 0 3px;}
.analytics-small-graph .small_graph_label {display:block; text-align:center; font-size:11px; color:#4e5557; padding:4px 0 0 0;}
.analytics-small-graph .small_graph_label .value {font-weight:bolder; color:#00a7df;}
.analytics-small-graph .label-text {color:#4e5557; font-weight:normal;}
.selected .small_graph_label {color:#fff;}
.selected .small_graph_label span {color:#fff !important;}


#left_pane, #right_pane, #middle_panel { vertical-align: top; }
.section { border: 1px black solid; }
#server_list_container .details { background-color: #F1F1F1; }
#server_list_container .details > td > div { display: inline-block; vertical-align: top; }
#server_list_container .details .first { width: 400px; }
#server_list_container .details .second { width: 200px; }
#server_list_container .server_list {_float:left;}

#server_list_container .details { display: none; }
#server_list_container .details.opened { display: table-row; *display:block;}
#server_list_container .opened td {padding:0 0 20px 0;}
#server_list_container .opened td td {padding:0px;}

#server_list_container > table { width: 100%; }




/* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (in jqModal.js). You
  can change this value by either;
    a) supplying one via CSS
    b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */

.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -357px;
    width: 715px;
    color: #333;
    z-index:3100 !important;
}

.jqmOverlay { background-color: #000; z-index:2000 !important; position:fixed;}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
     z-index:3100 !important;
}
html {height:100%;}
.spinner { vertical-align: middle; text-align: center; }

a.selected { text-decoration: underline; }

.alerts_list h2 { border-bottom: 1px dashed black; }
.alerts_list ol { padding: 0px; }

.alerts_list ol li {padding-left:10px;}

.alert_warning, .alert_attention, .alert_info {margin-bottom: 9px; list-style-type: none; min-height: 47px;}

.alerts_list h3 { display: block; float: left; padding: 0px; margin: 0px; margin-bottom: 6px;}
.alerts_list .dismiss {float:right; font-size:11px; font-weight:bolder; cursor:pointer;}

.alert_warning p, .alert_attention p, .alert_info p { clear: both; font-size:11px; color:#626b6c;}
.alert_warning .time, .alert_attention .time, .alert_info .time { display:block; float:right; color:#626b6c; font-size:11px;}

.alert_warning {background:url(../images/warning_bg.gif) 0 0 repeat-y #fff;}
.alert_attention {background:url(../images/attention_bg.gif) 0 0 repeat-y #fff;}
.alert_info {background:url(../images/info_bg.gif) 0 0 repeat-y #fff;}

#alerts_settings_guts li { list-style-type: none; }

.template { display:none; }
div.resource_panel {width:124%;}
div.resource_panel h2 {border-bottom:2px solid #e3e5e6; color:#444245; font-family:Verdana, Helvetica, Sans-Serif; font-size:13pt; font-weight:lighter; padding-bottom:5px;}
div.resource_panel td#pad-left {color:#444245; font-size:10pt; font-family:Verdana, Helvetica, Sans-Serif; padding-left:50px;}
div.resource_panel td#pad-left input {border:2px solid #e0e4e6; font-size:10pt; height:25px; width:95px;}
div.resource_panel div.ssd_resource_container, div.resource_panel div.hdd_resource_container, div.resource_panel td.dynamic-ram-quota div {color:#444245;font-family:Verdana,Helvetica,Sans-Serif; font-size:10pt; margin-left:25px;}
div.resource_panel div.ssd_resource_container div.resource-row div, div.resource_panel div.hdd_resource_container div.resource-row div {margin-bottom:15px; margin-right:10px;}
div.resource_panel div.ssd_resource_container div.resource-row div label, div.resource_panel div.hdd_resource_container div.resource-row div label {display:block; float:left; height:25px; line-height:25px; margin-right:5px; text-align:right; width:195px;}
div.resource_panel div.ssd_resource_container div.resource-row div input, div.resource_panel div.hdd_resource_container div.resource-row div input {border:1px solid #ccd3d7; color:#7e7e80; font-size:10pt; height:25px; margin-left:5px; padding-left:5px;width:95px;}
div.resource_panel div.ssd_resource_container div.resource-row div input.path-box, div.resource_panel div.hdd_resource_container div.resource-row div input.path-box {width:420px;}

#middle_pane { vertical-align: top; }

.blue_round_block {}
.blue_round_block .top {height:4px; overflow:hidden; background:url(../images/blue_block_bg.gif) 0 0 no-repeat #eaf4f9;}
.blue_round_block .top div {background:url(../images/blue_block_bg.gif) 100% -4px no-repeat; height:4px;}
.blue_round_block .bottom {height:4px; overflow:hidden; background:url(../images/blue_block_bg.gif) 0 -12px no-repeat #eaf4f9;}
.blue_round_block .bottom div {background:url(../images/blue_block_bg.gif) 100% -8px no-repeat; height:4px;}
.blue_round_block .content {background:none #eaf4f9;}
.blue_round_block a {font-size:12px; color:#0095d6;}

.test_cluster {width:160px; margin:20px 0 0 0;}
.test_cluster .content {padding:3px 19px;}
.test_cluster .label {font-size:12px; color:#444245; margin:0 0 5px 0; display:block;}
.test_cluster .start {display:block; width:121px; height:31px; background:url(../images/button_blue.gif) 0 0 no-repeat; font-size:14px; font-weight:bolder; line-height:31px; color:#fff; text-decoration:none; text-align:center; margin:0 0 5px 0;}
.test_cluster .start:hover {background-position:0 -31px;}
.test_cluster .start:active {background-position:0 -62px;}

#test_cluster_start_stop.start-active #test_cluster_stop { display:none; }
#test_cluster_start_stop.stop-active #test_cluster_start { display:none; }

/* shadow block */
.shadow_box {padding:0; margin:0 0 20px 0; width:780px;}
.shadow_box .top {height:8px; overflow:hidden; background:url(../images/shadow_box_bg.gif) 0 -48px repeat-x;}
.shadow_box .top div {height:12px; background:url(../images/shadow_box_bg.gif) 0 0 no-repeat;}
.shadow_box .top div div {background:url(../images/shadow_box_bg.gif) 100% -12px no-repeat;}
.shadow_box .bottom {height:8px; overflow:hidden; background:url(../images/shadow_box_bg.gif) 0 -64px repeat-x;}
.shadow_box .bottom div {height:12px; background:url(../images/shadow_box_bg.gif) 0 -24px no-repeat;}
.shadow_box .bottom div div {background:url(../images/shadow_box_bg.gif) 100% -36px no-repeat;}
.shadow_box .cnt {background:url(../images/shadow_box_side_bg.gif) 0 0 repeat-y;}
.shadow_box .cnt .pad {background:url(../images/shadow_box_side_bg.gif) 100% 0 repeat-y; padding:0 9px;}
.shadow_box .content {background:none #eeeeef;}
.shadow_box .section {border:0px;}

.shadow_box pre {white-space:normal; display:block; overflow:auto; padding:5px 0;}

.shadow_box .darker_block {background-color:#d4d4d5;}
.with_devider {background-image:url(../images/devider_line_1.gif); background-position:0 100%; background-repeat:repeat-x;}


#top_keys_container {border:1px solid #DBDBDB; border-top:0px;}
#top_keys_container table {width:100%; border-collapse:collapse;}
#top_keys_container table th {padding:10px 5px; text-align:left; border-right:1px solid #d9dce0; border-bottom:1px solid #eaedef; font-size:12px; font-weight:bolder; color:#f2692d; background:none #fbfbfb;}
#top_keys_container table td {border-right:1px solid #d9dce0; font-size:12px; vertical-align:middle; padding:10px 5px; background:none #fff;}
#top_keys_container table .even td {background:none #ececef;}


table.lined_tab {width:100%; border-collapse:collapse;}
table.lined_tab th {padding:10px 5px; text-align:left; border-right:1px solid #d9dce0; border-bottom:1px solid #eaedef; font-size:12px; font-weight:bolder; color:#f2692d; background:none #fbfbfb; font-weight:bolder;}
table.lined_tab td {border-right:1px solid #d9dce0; font-size:12px; vertical-align:middle; padding:10px 5px; background:none #fff;}
table.lined_tab td td {background:none !important; border:0px !important;}
table.lined_tab .highlight td {background:none #ececef;}
table.lined_tab .hovered td {background:none #f5f5f7;}

.tab_holder {border-left:1px solid #C8CCCE; border-bottom:1px solid #C8CCCE;}

/*.shadow_box p {border:1px solid #DBDBDB; border-top:0px;}
.shadow_box p table {width:100%; border-collapse:collapse;}
.shadow_box p table th {padding:10px 5px; text-align:left; border-right:1px solid #d9dce0; border-bottom:1px solid #eaedef; font-size:12px; font-weight:bolder; color:#f2692d; background:none #fbfbfb;}
.shadow_box p table td {border-right:1px solid #d9dce0; font-size:12px; vertical-align:middle; padding:10px 5px; background:none #fff;}
.shadow_box p table .even td {background:none #ececef;}
.shadow_box p table .hover td {background:none #f7f7f7;}*/

/* nulled next tables */
/*.shadow_box p table table * {background:none; border:0px; padding:0px;}*/

/* overview block */
#server_list_container .expander div {width:10px; height:10px; overflow:hidden; background:url(../images/expander_bg.gif) 0 -10px no-repeat; position:relative; top:2px;}
#server_list_container .expanded div {background:url(../images/expander_bg.gif) 0 0 no-repeat;}
#server_list_container .name div {height:47px; line-height:47px; padding:0 0 0 35px; font-weight:bolder; background:url(../images/server_icon.gif) 0 0 no-repeat; cursor:pointer;}
#server_list_container .status {*text-align:right;}
#server_list_container .status div {width:89px; height:23px; float:right; *float:none; position:relative; top:7px;}
#server_list_container .status .up {background:url(../images/status_icons.gif) 0 0 no-repeat;}
#server_list_container .status .warning {background:url(../images/status_icons.gif) 0 -23px no-repeat;}
#server_list_container .status .down {background:url(../images/status_icons.gif) 0 -46px no-repeat;}
#server_list_container .primary td {border-top:1px solid #d6dbde; padding:3px 0;}

#server_list_container .details .first {width:100%;}
#server_list_container .details table {width:100%; position:relative;}
#server_list_container .details table td {font-size:11px; padding:0 0 3px 0; vertical-align:top; height:18px;}
#server_list_container .details table td span {color:#7e7e80;}

#get_started {display:none;}

#bucket_list_container {border-left:1px solid #c8ccce; border-bottom:1px solid #c8ccce;}

.monitor_buckets .buckets_action_bar {display:none;}
.monitor_buckets .bucket_properties_link {display:none;}

/* lightbox styles */
.lbox {width:711px; position:relative;}
.lbox .top {height:13px; overflow:hidden;}
.lbox .top div {height:13px; overflow:hidden;}
.lbox .top .top_left {width:12px; float:left; background:url(../images/lbox_lt.png) 0 0 no-repeat;}
.lbox .top .top_right {width:12px; float:right; background:url(../images/lbox_rt.png) 0 0 no-repeat;}
.lbox .top .top_center {background:url(../images/lbox_t.png) 0 0 repeat-x; *width:687px;}

.lbox .center {background:url(../images/lbox_cent.png) 0 0 repeat-y;}
.lbox .center .pad {padding:0 7px;}

.lbox .bottom {height:17px; position:relative;}
.lbox .bottom div {height:17px; overflow:hidden;}
.lbox .bottom .bottom_left {width:12px;float:left; background:url(../images/lbox_lb.png) 0 0 no-repeat;}
.lbox .bottom .bottom_right {width:12px; float:right; background:url(../images/lbox_rb.png) 0 0 no-repeat;}
.lbox .bottom .bottom_center {/*margin:0 12px;*/ background:url(../images/lbox_b.png) 0 0 repeat-x; *float:left; *width:687px;}

.lbox .lbox_header {color:#4e5557; font-size:18px; padding:0 20px 5px 20px; border-bottom:1px solid #afdcef;}
.lbox .u_line {padding:20px 0 5px 0; font-size:12px; font-weight:bolder; color:#4e5557; border-bottom:1px solid #ccd3d7;}
.lbox .u_line .label {font-weight:normal; display:block; min-width:85px; text-align:right; float:left; margin:0 5px 0 0; white-space:nowrap;}
.lbox .u_line a.float_right {font-size:11px; cursor:pointer;}
.lbox .pat_10 p textarea {width:100%; background:none #fff; border:1px solid #ccd3d7; overflow:auto;}
.lbox .u_line_sm {padding:0 0 10px 0; font-size:12px;}
.lbox .u_line_sm .label {display:block; float:left; width:110px; padding-top:7px; text-align:right; margin:0 5px 0 0;}
.lbox .u_line_sm .inp {padding:4px 3px; border:1px solid #ccd2d6;}
.lbox .warning {font-size:12px; color:#ec5223;}
.lbox .warning ul {list-style-type:disc; margin:5px 0 0 15px;}

.lbox .spinner {background:none #e9f3f9 !important;}
.lbox .spinner span {display:block; position:relative; margin:0 auto 0 auto; top:50%; width:150px !important;height:20px !important; line-height:14px !important; padding:50px 0 0 0 !important; margin-top:-30px; background:url(../images/spinner/spinner_lightbox.gif) 55px 5px no-repeat; color:#6da2c2; font-size:12px; text-align:center;}
.lbox .info_text {font-size:12px; padding-bottom:10px; line-height:15px;}

.lbox_form {display:block; padding:10px;}
.lbox_form h3 {font-size:18px; padding:5px 0 10px 0; border-bottom:1px solid #d8d9db; margin:0 0 10px 0; color:#444245; font-weight:normal;}
.lbox_form table td {padding:3px 0; color:#7d7d7f; font-size:12px; vertical-align:middle;}
.lbox_form table td.label {text-align:right; color:#444245; font-size:12px; font-weight:normal; padding:0 10px 0 0; vertical-align:top; line-height:30px;}
.inp_size_1 {width:93px !important;}
.inp_size_2 {width:185px !important;}
.inp_size_3 {width:287px !important;}
select.inp_size_2 {width:193px !important;}
.lbox_form input[type="text"] {width:55px; border:1px solid #cfd3d6; background:none #fff; padding:3px; color:#444245;}
.lbox_form input.inp {border:1px solid #cfd3d6; background:none #fff; padding:3px; color:#444245;}
.lbox_form .del_link {color:#e34c31; padding:10px 0 0 0; display:block; float:left;}
.lbox_form table td span.float_right {line-height:25px;}
.top_save_cancel {padding-right:10px;}
.lbox .header_2 {border:0px !important;}
.lbox .add_btn {display:block; width:61px; height:21px; background:url(../images/add_btn.png) 0 0 no-repeat; float:right; float:right;}
.content_cell label {margin:0 0 5px 0; display:inline-block;}

#bucket_details_dialog {width:765px; margin-left:-383px;}
#bucket_details_dialog .lbox {width:765px;}

#add_new_bucket_form h2 {padding:0 0 15px 20px; font-size:12px; line-height:15px;}
#add_new_bucket_form table p {padding:0 0 15px 20px; font-size:12px; line-height:15px;}
#add_new_bucket_form p {min-height:15px; padding:0 0 15px 0; font-size:11px; line-height:15px;}
#add_new_bucket_form p b {display:block; font-weight:normal; width:130px; float:left; padding:5px 5px 0 0; font-size:12px; text-align:right;}
#add_new_bucket_form p .inp {padding:2px 3px; border:1px solid #cdd3d8; background:none #fff; margin:0 5px 0 0;}
#add_new_bucket_form p .chkbx {float:left; margin:0 5px 0 0;}
#add_new_bucket_dialog form {padding:10px 0 0 0;}
#add_new_bucket_dialog {position:absolute;}

.join_cluster table {width:100%;}
.join_cluster table tr td {width:50%; padding:7px 0 0 0;}
.join_cluster table tr .th {text-align:left; font-size:14px; font-weight:normal; padding:10px 0 7px 0; border-bottom:1px solid #dbe3e8;}
.join_cluster table tr .th a {text-decoration:none;}
.join_cluster .label {width:65px !important;}

/* auth */
body.nojs #mainContainer { display: none; }

#auth_dialog { display: none; }
body.auth #auth_dialog { display: block; }
body.auth #container { display: none; }

#nojs_alert { display: none;}
body.nojs #nojs_alert { display: block; width:960px; margin:40px auto 0 auto;}

.auth_block {min-height:737px; height:100%; position:relative;}
.auth_block h1 {color:#2f3536; text-transform:uppercase; font-size:28px; padding:28px 0 30px 0; position:relative; top:13px;}
.auth_block .pad {/*padding:0 0 0 180px;*/ position:relative; width:580px; margin:auto; /*top:100px;*/ top:0px; height:537px;}
.auth_block .form {display:block; width:580px; height:275px; background:url(../images/auth_form_bg.png) 0 0 no-repeat;}
.auth_block .form table {margin:25px 0 0 25px;}
.auth_block .form table td {vertical-align:middle; padding:10px 0;}
.auth_block .form table .forgot {position:relative; top:-10px; font-size:12px; color:#fff;}
.auth_block .form table .label {text-align:right; font-size:18px; color:#e6f5ff; padding:0 7px 0 0;}
.auth_block .form table .inp {border:1px solid #60696b; background:none #fff; padding:12px 5px; width:390px; font-size:16px;}
.auth_block .form table .submit {width:210px; height:45px; overflow:visible; border:0px; background:url(../images/sign_in_button.gif) 0 0 no-repeat; font-size:22px; color:#fff;}
.auth_block .form table .submit:hover {background-position:0 -45px;}
.auth_block .form table .submit:active {background-position:0 -90px;}
.auth_block .alert_red {width:588px; height:71px; position:absolute; left:-8px; top:60px; line-height:65px; font-size:14px; color:#fff; background:url(../images/alert_red.png) 0 0 no-repeat; z-index:1000;}
.auth_block .alert_red .al_text {padding:0 0 0 30px;}
.alert_green {width:760px; height:75px; font-size:14px; color:#fff; background:url(../images/alert_green.png) 0 0 no-repeat; position:absolute; left:0px; top:44px; line-height:16px; z-index:1000;}
.alert_green .al_text {padding:20px 100px 0 20px;}
.auth_block .pad .spinner {width:582px !important; height:245px !important; position:absolute !important; left:0px !important; top:90px !important; /*background:url(../images/login_screen.png) 100% -72px no-repeat !important;*/ background:none #747e7c !important; line-height:14px !important;}
.auth_block .pad .spinner span {display:block; width: 150px; height:20px; padding:50px 0 0 0; text-align:center; font-size:12px; color:#a6b1b3; background:url(../images/spinner/spinner_1.gif) 55px 5px no-repeat; position:relative; margin:auto; top:122px;}
.noform input, .noform label, .noform a {dispalay:none;}
.auth_block .page-footer {display: none;}

/* sort tool */
.sort_desc .sort_up {display:none;}
.sort_asc .sort_down {display:none;}
.sort_desc img, .sort_asc img {position:relative; top:-2px;}

button:disabled {opacity:0.5 !important; background-position:0 0 !important;}

#join_leave_switch.join-possible #cluster_leave_button { display:none; }
#join_leave_switch.leave-possible #cluster_join_button { display:none; }

.float_50 {}
.float_50 .item {display:block; float:left; width:50%; min-height:35px; margin:0 0 5px 0;}
.float_50 .item input {float:left;}
.float_50 .item .cnt {margin:0 0 0 20px; font-size:11px; color:#777a81; display:block;}
.float_50 .item .cnt span {font-size:12px; font-weight:bolder; color:#368dba; display:block; cursor:pointer;}

/*on/off button */
.on_off_button {display:block; position:relative; width:120px; height:23px; background:url(../images/on_off_bg.png) 0 0 no-repeat; margin:3px 0;}
.on_off_button span {display:block; position:absolute; width:64px; height:23px; background:url(../images/on_off_slider.png) 0 0 no-repeat; top:0px;}
/*.button_on span {right:0px !important;}*/
.stop-active .on_off_button span {right:0px !important;}

/* bread crumbs */
.bread_crumbs {overflow:hidden; margin:30px 0 0 189px; height:20px; padding:5px 0 0 0;}
.bread_crumbs ul {display:block; height:20px; font-size:12px; position:relative; left:-10px;}
.bread_crumbs ul li {display:block; float:left; padding:0 6px 0 10px; background:url(../images/bc_arrow.gif) 0 4px no-repeat; color:#555557;}
.bread_crumbs ul li a {text-decoration:underline;}
.bread_crumbs ul li a:hover {text-decoration:none;}

.stat_target_name {text-transform:none !important;}

.lbox .top .top_center {_float:left;}

.marker { display: block; height: 23px; font-size: 13px; font-weight: bolder; color: white; margin: 5px 0px; width: 100px; overflow: visible; z-index: 1001; }
.marker span { display: block; float: left; height: 23px; background: url(../images/markers.png) no-repeat; vertical-align: middle; line-height: 23px;}
.marker span.l { padding-left: 26px;}
.marker span.r { padding-right: 13px;}
.marker-min span.l { background-position: left top;}
.marker-min span.r { background-position: right top;}
.marker-max span.l { background-position: left bottom;}
.marker-max span.r { background-position: right bottom;}

#join_cluster_dialog label {width:150px !important;}

.secure_enabled, .secure_disabled {display:block; float:left; margin:0 1%; width:223px; margin:0 10px !important;}
.secure_enabled .button_big {margin:0px;}
.secure_enabled .disabled {display:none;}
.secure_disabled .button_big {display:none;}
.secure_disabled .disabled {display:block !important; margin:0px;}
.secure_disabled .disabled:hover {background:url(../images/large_buttons_bg.gif) repeat-x scroll 0 0 !important; color:#444245 !important;}
.secure_disabled .disabled:active {background:url(../images/large_buttons_bg.gif) repeat-x scroll 0 0 !important; color:#444245 !important;}

.active_tooltip {z-index: 2;}
.active_tooltip span.tooltip_msg {display:block;}
.tooltip {position:relative; display:inline-block; text-decoration:none !important;}
.tooltip:hover span:first-child {text-decoration:underline;}
.tooltip .tooltip_msg {display:none; position:absolute; width:150px; padding:6px 0 0 0; right:0px; top:14px; background:url(../images/tooltip_bg.gif) 100% 0 no-repeat; z-index:10;}
.tooltip .tooltip_msg span {display:block; padding:5px; background:none #555557; font-size:11px; text-decoration:none !important; color:#fff !important;}

#about_server_dialog {background-color:#fff; box-shadow: 0px 5px 25px #222; height:250px; margin-left:-195px !important; width:390px; -moz-box-shadow: 0px 5px 25px #222; -webkit-box-shadow: 0px 5px 25px #222;}
#about_server_dialog .lbox {background:none; width:100%;}
#about_server_dialog .lbox .config-top {width:390px; margin:-6px 0px 0px -9px; padding-right:9px;}
#about_server_dialog .lbox .config-top img {float:left; margin-top:6px; margin-left:15px;}
#about_server_dialog .lbox .config-top h1 {float:right; font-family:Verdana,Helvetica,Sans-Serif; font-size:12pt; font-weight:normal; margin-right:15px; margin-top:14px;}
#about_server_dialog .lbox .config-bottom {margin-top:21px;}
#about_server_dialog .lbox .center {background:none; padding: 10px;}
#about_server_dialog .lbox .top .top_center {*width:356px;}
#about_server_dialog .lbox .bottom .bottom_center {*width:356px;}
#about_server_dialog .lbox .center p#about_versions {margin-bottom: 25px; white-space:nowrap;}
#about_server_dialog .lbox .center ul li {margin:5px;}

.configure_view {display:inline-block; padding:0 10px 0 0;}
.configure_view a {position:relative; top:5px; text-decoration:underline;}
.configure_view a:hover {text-decoration:none;}

.success_msg {background-color: #a0fca0;}
.error_msg {background-color: #fca0a0;}

/* temporary - working with login screen */
/*
#container {display:none;}
#auth_dialog { display: block; }
*/

/* init_block */

#init_block { display: none; }
#init_block .pad { display: none; }

body.init_welcome #init_block { display: block; }
body.init_welcome #init_welcome_dialog { display: block; }
body.init_welcome #container { display: none; }
body.init_welcome #init_welcome_dialog h1 {color:#fff; font-family:Verdana, Helvetica, sans-serif; font-size:18pt; font-weight:100; margin-bottom:-25px; margin-left:25px; padding-left:25px;}
body.init_welcome #init_welcome_dialog p {color:#acbbc4; font-family:Verdana, Helvetica, sans-serif; font-size:14pt; font-weight:100;}
body.init_welcome #init_welcome_dialog form {margin-left:25px;}
body.init_welcome #init_welcome_dialog .pad-header .tagline, .init_block .pad .pad-header .version {float:left; margin-top:73px;}
body.init_welcome #init_welcome_dialog .pad-header .tagline {color:#00a6de; font-size:12pt; margin-left:225px; margin-right:25px;}
body.init_welcome #init_welcome_dialog .pad-header .version {color:#ec5223; font-size:11pt;}
body.init_welcome #init_welcome_dialog .welcome-footer {color:#9aa3a8; font-family:Verdana, Helvetica, sans-serif; font-size:10pt; margin-top:85px; text-align:center; width:724px;}
body.init_welcome #init_welcome_dialog .welcome-footer a {color:#a7e4ff; margin-left:15px; margin-right:15px;}
body.init_welcome #init_welcome_form p {color:#bdccd4; font-family:Verdana, Helvetica, sans-serif; font-size:13pt; font-weight:100; line-height:20px;}
body.init_welcome #init_welcome_form input.license-input {border:1px solid #b6bdc1; color:#7e7e80; font-family:Verdana, Helvetica, sans-serif; font-size:12pt; height:30px; line-height:30px; padding:0px 0px 0px 5px; width:210px;}
body.init_welcome #init_welcome_form table {width:590px;}
/* config */
button.direction-button {background:url(../images/blue-button.png) no-repeat; border:none; color:#fff; cursor:pointer; float:right; font-family:Arial, Helvetica, Sans-Serif; font-size:12pt; margin-right:20px; margin-top:20px; width:121px; height:31px;}

div.config-top {background:url(../images/config-top.png) repeat-x; height:60px; line-height:60px; margin:0px 0px 0px -8px;}
div.config-top h1, div.config-top h2 {font-family:Verdana, Helvetica, Sans-Serif; text-shadow: 0px 1px 2px #fff;}
div.config-top h1 {color:#444245; float:left; font-size:16pt; margin:-15px 0px 0px 20px; padding:0px;}
div.config-top h2 {color:#8b8b8e; float:right; font-size:10pt; margin-right:20px;}
div.config-bottom {background:url(../images/config-bottom.png) repeat-x; height:74px; line-height:84px; margin:0px 0px 0px -8px;}
div.config-bottom a.cancel {color:#8b8b8e; float:right; font-family:Arial, Helvetica, Sans-Serif; font-size:12pt; margin-right:25px; margin-top:-5px; text-decoration:none;}

body.init_resources #init_block { display: block; }
body.init_resources #init_resources_dialog {background:none; background-color:#eee; display: block; padding-bottom:-50px;}
body.init_resources #container { display: none; }

body.init_cluster #init_block { display: block; }
body.init_cluster #init_cluster_dialog {background:none; background-color:#eee; display: block; padding-bottom:-50px;}
body.init_cluster #init_cluster_dialog h2.question {border-bottom:1px solid #d5dadd; color:#444245; font-size:14pt; font-family:Verdana, Helvetica, Sans-Serif; font-weight:lighter; margin:25px 0px 0px 50px; padding-bottom:5px; width:85%;}
body.init_cluster #init_cluster_dialog p.pad_10 {color:#444245; font-family:Verdana, Helvetica, Sans-Serif; font-size:10pt; font-weight:lighter; line-height:20px; margin-left:75px; width:500px;}
body.init_cluster form#init_cluster_form div {color:#444245; font-family:Verdana, Helvetica, Sans-Serif; font-size:12pt; font-weight:lighter; margin-left:85px;}
body.init_cluster #container { display: none; }

body.init_secure #init_block { display: block; }
body.init_secure #init_secure_dialog {background:none; background-color:#eee; display: block; padding-bottom:-50px;}
body.init_secure #init_secure_dialog h2.title {border-bottom:1px solid #d5dadd; color:#444245; font-size:14pt; font-family:Verdana, Helvetica, Sans-Serif; font-weight:lighter; margin:25px 0px 0px 50px; padding-bottom:5px; width:85%;}
body.init_secure #init_secure_dialog p.pad_10 {color:#444245; font-family:Verdana, Helvetica, Sans-Serif; font-size:10pt; font-weight:lighter; line-height:20px; margin-left:75px; width:500px;}
body.init_secure #init_secure_dialog form {width:100%;}
body.init_secure #init_secure_dialog div.username-input {margin-left:auto; margin-right:auto; width:575px; padding:0.5em 0 0 0;}
body.init_secure #init_secure_dialog div.username-input label {color:#444245; font-family:Verdana, Helvetica, Sans-Serif; font-size:12pt; padding:1em 45px 0 0;}
body.init_secure #init_secure_dialog div.username-input input {border:1px solid #e5e7e9; height:28px; width:183px; font-size:12pt; padding: 0px 5px;}
body.init_secure #init_secure_dialog div.password-input {margin-left:auto; margin-right:auto; width:575px; padding:0.5em 0 0 0;}
body.init_secure #init_secure_dialog div.password-input label {color:#444245; font-family:Verdana, Helvetica, Sans-Serif; font-size:12pt; padding:1em 51px 0 0;}
body.init_secure #init_secure_dialog div.password-input input {border:1px solid #e5e7e9; height:28px; width:183px; font-size:12pt; padding: 0px 5px;}
body.init_secure #init_secure_dialog div.password-input-verify {margin-left:auto; margin-right:auto; width:575px; padding:0.5em 0 0 0;}
body.init_secure #init_secure_dialog div.password-input-verify label {color:#444245; font-family:Verdana, Helvetica, Sans-Serif; font-size:12pt;}
body.init_secure #init_secure_dialog div.password-input-verify input {border:1px solid #e5e7e9; height:28px; width:183px; font-size:12pt; padding: 0px 5px;}
body.init_secure #container { display: none; }

/* init_block */

.init_block {min-height:737px; height:100%; position:relative;}
.init_block h1 {color:#2f3536; text-transform:uppercase; font-size:28px; padding:28px 0 30px 0; position:relative; top:13px;}
.init_block .pad {background:url(../images/welcome-background.png) no-repeat; position:relative; width:724px; margin:auto; top:100px;}
.init_block .pad .pad-header {height:115px; width:703px;}
.init_block .form {display:block; width:580px; background:url(../images/welcome_form_bg.png) 0 0 no-repeat;}
.init_block .form table {margin:25px 0 0 25px;}
.init_block .form table td {vertical-align:middle; padding:10px 0;}
.init_block .form table .label {text-align:right; font-size:18px; color:#e6f5ff; padding:0 7px 0 0;}
.init_block .form table .inp {border:1px solid #60696b; background:none #fff; padding:12px 5px; width:225px; font-size:16px;}
.init_block .alert_red {width:588px; height:71px; position:absolute; left:-8px; top:60px; line-height:65px; font-size:14px; color:#fff; background:url(../images/alert_red.png) 0 0 no-repeat; z-index:1000;}
.init_block .alert_red .al_text {padding:0 0 0 30px;}
.init_block .pad .spinner {width:582px !important; height:245px !important; position:absolute !important; left:0px !important; top:90px !important; /*background:url(../images/login_screen.png) 100% -72px no-repeat !important;*/ background:none #747e7c !important; line-height:14px !important;}
.init_block .pad .spinner span {display:block; width: 150px; height:20px; padding:50px 0 0 0; text-align:center; font-size:12px; color:#a6b1b3; background:url(../images/spinner/spinner_1.gif) 55px 5px no-repeat; position:relative; margin:auto; top:122px;}
.init_block .page-footer {display: none;}



#servers .list_button, #servers .add_button,
#servers .rebalance_button, #servers .stop_rebalance_button
{display: block; float: right; margin-left: 5px; text-decoration:none !important;
  /*border: 1px solid green;*/
  /*moz-border-radius: 4px; -webkit-border-radius: 4px; padding: 2px;*/
  }
li.server_row .btn_cancel {display:block; height:15px; color:#7a7a7a; padding:0 18px 0 0; background:url(../images/btn_cancel_bg.png) 100% 0 no-repeat; line-height:15px; margin-top:23px;}
#servers .add_button {width:124px;}
#servers .btn_width_2 {width:125px;}
#servers .rebalance_button {width:115px;}
#servers .btn_width_1 {width:116px;}
#servers .list_button {height:31px; padding:0 3px 0 0; background:url(../images/btn_2_bg.png) 100% -31px no-repeat; color:#000; margin-top:14px; font-size:14px; text-decoration:none !important;}
#servers .list_button span {display:block; text-align:center; height:31px; line-height:31px; padding:0 6px 0 10px; background:url(../images/btn_2_bg.png) 0 0 no-repeat;}
#servers .list_button.disabled {background-position:100% -93px; color:#cacbce !important;opacity:1 !important;}
#servers .list_button.disabled span {background-position:0 -62px; color:#cacbce !important;}

#servers h2 { height: 25px;}
#servers .servers_list li { list-style: none; height: min-25px; /*margin-top: 3px; */ display:block; padding:0 10px;}
#servers .servers_list li.server_row {height:60px; line-height:60px; border-bottom:1px solid #d1d5d8; overflow:hidden; background:url(../images/server_status_icons.png) 10px 20px no-repeat; padding:0 10px 0 85px;}
#servers .servers_list li.server_row.server_down {background:url(../images/server_status_icons.png) 10px -157px no-repeat; background-color:#61696c;}
#servers .servers_list li.server_row.failed_over {background:url(../images/server_status_icons.png) 10px -309px no-repeat; background-color:#c9cccc;}
#servers .servers_list li.server_row.failed_over .list_button {display:none;}
#servers .servers_list li.server_row.failed_over .serverName {/*color:#9c9e9e;*/ color:#333; opacity:0.3;}

#servers .servers_list li.server_row.rebalance_empty {padding:0 15px; background:none; color:#656565;}
#servers .servers_list li.server_row.rebalance_empty * {display:none;}
#servers .servers_list li.server_row.rebalance_empty .rebalance_empty_message {display:block;}

#servers .servers_list li.server_row.pending_add {background:url(../images/server_status_icons.png) 10px -309px no-repeat;}
li.server_row.pending_add .btn_cancel {float:right;}
li.server_row.pending_add .pending_add_message {float:right; margin:0 10px 0 0; color:#e54c2a;}

#servers .servers_list li.server_row.pending_removal {background:url(../images/server_status_icons.png) 10px -309px no-repeat;}
li.server_row.pending_removal .btn_cancel {float:right;}
li.server_row.pending_removal .pending_removal_message {float:right; margin:0 10px 0 0; color:#e54c2a;}
li.server_row.status_up {background-position:10px 20px !important;}
li.server_row.status_down {background-position:10px -157px !important; background-color:#61696c;}

.warning_message {min-height:20px; padding:5px 0 0 25px; color:#dd3b2c; margin:0 0 5px 0; background:url(../images/warning_bg_2.png) 0 0 no-repeat;}
.failover_warning { display: none; }

.alert_num {display:block; position:absolute; right:-25px; top:-16px; background:url(../images/alert_num_bg.png) 0 0 no-repeat; z-index:10; width:44px; height:44px;}
.alert_num span {display:block; width:16px; position:relative; top:0px; left:11px; text-align:center; color:#fff; font-size:11px; line-height:38px;}
ul.tabs .tab_right .alert_num {display:none;}
ul.tabs .alert_num_display .alert_num {display:block;}

.servers_header {padding:11px 10px 5px 11px;}

.server_usage {display:block; width:183px; height:16px; float:right; background:url(../images/usage_small_2.gif) 0 -16px no-repeat; position:relative; top:20px;}
.server_usage span {display:block; width:183px; height:16px; overflow:hidden; position:absolute; left:0px; top:0px; background:url(../images/usage_small_2.gif) 0 0 no-repeat; width:30%;}
.usage_info {display:block; float:right; font-weight:normal; color:#808080; width:150px; margin-left:-150px; position:relative; top:16px; text-align:right;}
.rebalancing li {display:block; position:relative;}
.rebalancing li a {text-decoration:none !important; cursor:default;}

.failed_over_message {float:right; color:#9c9e9e; display:none;}
.failed_over .failed_over_message {display:block;}

#servers .servers_list .serverName {display:inline-block; height:60px; padding:0 0 0 45px; background:url(../images/server_icon.png) 0 10px no-repeat; font-size:12px; font-weight:bolder;}

#servers .gong_rb { margin-top: 10px; margin-bottom: 10px; padding-left:77px; background-image:url(../images/icons.png); background-position:0 5px; background-repeat:no-repeat;}

#servers .servers-not-rebalancing { display: block; }
#servers .servers-rebalancing { display: none; }

#servers.rebalancing .servers-not-rebalancing { display: none; }
#servers.rebalancing .servers-rebalancing { display: block; }

.additional_server_info {display:block;}
.additional_server_info h3 {font-size:14px; color:#444245; padding:5px 0 10px 0; border-bottom:1px solid #bbbdbf; font-weight:normal; margin:0 0 10px 0;}
.additional_server_info .info_block {display:block; overflow:hidden;}
.additional_server_info .info_block .path {display:block; padding:10px 0 0 0; font-size:11px; color:#828284;}
.additional_server_info .info_block.last {padding:10px 0 10px 0;}
.dynamic_ram {display:block; height:40px; padding:0 0 0 77px; background:url(../images/icons.png) 0 -190px no-repeat; float:left;}
.total_ram {display:block; height:14px; text-align:right;}

.RAM_diagramm {width:420px; float:right;}
.RAM_diagramm .diagr_ram {display:block; width:420px; height:15px; position:relative; background:url(../images/ram_diagr_bg.png) 0 0 no-repeat;}
.RAM_diagramm .diagr_ram span {display:block; width:420px; height:15px; position:absolute; left:0px; top:0px; background:url(../images/ram_diagr_bg.png) 0 0 no-repeat;}
.RAM_diagramm .diagr_ram span.blue {z-index:5; background-position:0 -15px;}
.RAM_diagramm .diagr_ram span.yellow {z-index:4; background-position:0 -30px;}
.RAM_diagramm .diagr_ram span.green {z-index:3; background-position:0 -45px;}
.diagr_labels td {padding:3px 0 0 0;}
.RAM_diagramm td {color:#808080;}
.RAM_diagramm td.blue {color:#1878a2;}
.RAM_diagramm td.yellow {color:#c19710;}
.RAM_diagramm td.green {color:#6cc74c;}

.solid_state {display:block; height:40px; width:262px; padding:0 0 0 77px; float:left; background:url(../images/icons.png) 0 -289px no-repeat;}
.disk_storage {display:block; height:40px; width:262px; padding:0 0 0 77px; float:left; background:url(../images/icons.png) 0 -390px no-repeat;}
.additional_server_info .add_btn {display:block; width:61px; height:21px; background:url(../images/add_btn.png) 0 0 no-repeat; float:right;}
.additional_server_info .info_message {font-size:16px;}

.add_back_row {height:31px; display:block; background:url(../images/add_back_bg.png) 0 0 repeat-x;}
.add_b_message {line-height:31px; color:#fff;}
.add_back_btn {display:block; width:148px; height:31px; background:url(../images/add_back_btn.png) 0 0 no-repeat; float:right; margin-right:-10px;}

#buckets .settings-placeholder { display: none; }
body table.buckets_tab td {background:none #eee; border-bottom:1px solid #ced5d9; padding:0px 5px; color:#7e7e80; border-right:0px; text-align:center;}
body table.buckets_tab tr td:first-child {text-align:left;}
body table.buckets_tab tr th {background:none #f6f6f7; border-right:0px; border-bottom:1px solid #fff; color:#4d4d4d; font-weight:normal; text-align:center;}
body table.buckets_tab tr th:first-child span {display:block; white-space:nowrap; padding:0 0 0 56px; text-align:left;}
.bucket_name {display:block; float:left; height:68px; line-height:60px; font-size:12px; font-weight:bolder; padding:0 0 0 56px; background:url(../images/icons.png) -12px -98px no-repeat;}
.buckets_tab .settings-placeholder td .pad {padding:10px 0; background:none;}
body .buckets_tab .settings-placeholder td .pad .pad {padding:10px 10px 10px 80px !important; background:url(../images/icons.png) 0 -98px no-repeat !important; min-height:60px;}
.buckets_tab .settings-placeholder .edit_btn {display:block; width:65px; height:21px; background:url(../images/edit-button.png) 0 0 no-repeat; float:right;}
.edit_btn {display:block; width:65px; height:21px; background:url(../images/edit-button.png) 0 0 no-repeat; float:right;}
.buckets_tab .ovf {padding:10px 0;}


.bucket_properties_table {width:550px;}
.bucket_properties_table td {text-align:left !important; vertical-align:top !important; color:#444245; line-height:16px; background:none !important; border:0px !important;}
.bucket_properties_table td span {color:#949597;}
.buckets_tab table.label {float:left;}
.buckets_tab table.label td {color:#7e7e80;}
.buckets_tab table.label td:first-child {color:#444245; text-align:right;}

.tabs switcher {}
.switcher li {padding:0px !important; background:none !important;}
.switcher li a {display:block; height:32px !important; font-size:14px !important; padding:0 10px !important; color:#182022;}
html body .switcher li a.current {color:#e6e6e6 !important;}
.tab_left a {background:url(../images/switcher_bg.png) 0 -96px no-repeat !important;}
.tab_left .current {background:url(../images/switcher_bg.png) 0 0 no-repeat !important;}
.tab_right a {background:url(../images/switcher_bg.png) 100% -64px no-repeat !important;}
.tab_right .current {background:url(../images/switcher_bg.png) 100% -32px no-repeat !important;}
ul.tabs.switcher {height:32px; overflow:visible;}

.btn_1 {display:inline-block; height:31px; font-size:14px !important; background:url(../images/btn_1_bg.png) 100% -31px no-repeat; padding:0 4px 0 0 !important; color:#000;}
.btn_1 span {color:#000; text-shadow:#bbbfc2 1px 1px;}
.btn_1 span {/*display:inline-block;*/ display:block; text-align:center; height:31px; padding:0 6px 0 10px; line-height:31px; background:url(../images/btn_1_bg.png) 0 0 no-repeat;}

.panes.pad {background:none !important;}

/* Elastro */
#elastro-cling {
  float:right;
  position: relative;
  right:-149px;
  top:-50px;
}

/* temporary styles */
.jqmWindow {position:absolute;}

ul.tabs .tab_left a, ul.tabs .tab_right a {text-shadow:#bbbfc2 1px 1px;}
ul.tabs .tab_left a.current, ul.tabs .tab_right a.current, ul.tabs .tab_left a:hover, ul.tabs .tab_right a:hover {text-shadow:none;}
ul.tabs .tab_left a.current:hover, ul.tabs .tab_right a.current:hover {text-shadow:#bbbfc2 1px 1px;}

.server_details_tab td {color:#434446; padding:0 0 5px 0;}
.server_details_tab td span {color:#87888a;}

.servers_list .settings-placeholder {background-color:#e7e7e9; padding-top:5px !important;}
.servers_list .settings-placeholder .gong_rb {background-color:#d9dadc !important;}
.servers_list .settings-placeholder .gong_rb .side {background-image:url(../images/gong_rb_2.gif) !important;}