/*******************************************************************************
 * Copyright (c) 2010, 2014 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     IBM Corporation - initial API and implementation
 *     Lars Vogel <Lars.Vogel@gmail.com> - Bug 420836
 *******************************************************************************/

.MTrimmedWindow {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.MTrimmedWindow.topLevel {
	margin-top: 24px;
	margin-bottom: 2px;
	margin-left: 12px;
	margin-right: 12px;
}

.MPart.busy {
	font-style: italic;
}

.MPart.highlighted {
	font-weight: bold;
}

.MPartStack, .MPart {
	font-family: '#org-eclipse-ui-workbench-TAB_TEXT_FONT';
}

.MPartStack {
	swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
	swt-unselected-tabs-color: #FFFFFF #FFFFFF #FFFFFF 100% 100%;
	swt-outer-keyline-color: #FFFFFF;
	swt-inner-keyline-color: #FFFFFF;
	swt-simple: true;
	padding: 0px 10px 11px;
	swt-mru-visible: false;
}

.MTrimBar#org-eclipse-ui-main-toolbar {
	background-image:  url(./winXPOlive.png);
}

.MPartStack.active {
	swt-unselected-tabs-color: #E6E3C3 #EDEACA #FFFFFF 100% 100%;
	swt-outer-keyline-color: #BFCDA4;
	swt-inner-keyline-color: #FFFFFF;
	swt-tab-outline: #B6BCCC;
}

#PerspectiveSwitcher  {
	background-color: #F5F3ED #F0ECE0 100%;
	eclipse-perspective-keyline-color: #A7B680 #A7B680;
}

.MToolBar.Draggable {
	handle-image:  url(./dragHandle.png);
}

.MToolControl.Draggable {
	handle-image:  url(./dragHandle.png);
}
