/*******************************************************************************
 * Copyright (c) 2010, 2014 Andrea Guarinoni and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     Andrea Guarinoni <andrea.guarinoni.dev@outlook.com> - initial API and implementation
 *     Lars Vogel - initial API and implementation
 *******************************************************************************/

@import url("platform:/plugin/org.eclipse.platform/css/e4_basestyle.css"); 
@import url("platform:/plugin/org.eclipse.ui.e4.themes/css/e4-dark-config-parts.css"); 


/*******************************************************************************
 * The following bugs are referred to in this style sheet 
 * 1.) Bug 419482 - Cascading policy in CSS
 *******************************************************************************/


.MPartStack {
    background-color: #313538;
    color: #f7f8f8;
    swt-tab-outline: #3B4042; /* border color for selected tab */
    swt-outer-keyline-color: #515658; /* border color for whole tabs container */
    swt-unselected-tabs-color: #515658 #464649 #313538 99% 100%; /* title background for unselected tab */
    swt-selected-tab-fill: #313538; /* title background for selected tab (gradient bottom color) */
}

.MPartStack.active {
    background-color: #292929;   /* ignored (<2>) */
    swt-inner-keyline-color: #FFFFFF;
    swt-tab-outline: #484848; /* border color for selected tab */
    swt-outer-keyline-color: #4B4C4F; /* border color for whole tabs container */
    swt-unselected-tabs-color: #494A4D #404043 #272727 99% 100%; /* title background for unselected tab */
    swt-selected-tab-fill: #292929; /* title background for selected tab (gradient bottom color) */
}

.MPartStack.active > * {
    /* Workaround for (<2>) to set the color of the inner border for the active tab */
    background-color: #292929;
}

.MPartStack.empty {
    swt-unselected-tabs-color: #515658 #4F5456 #4F5456 99% 100%; /* title background for unselected tab */
    swt-tab-outline: #535354; /* border color for selected tab */
    swt-outer-keyline-color: #515658; /* border color for whole tabs container */
}

.MTrimmedWindow {
    background-color: #515658;
}

.MTrimBar {
    background-color: #515658;
}

/* .MTrimBar#org-eclipse-ui-main-toolbar {
    background-color: #676767 #6b6b6b;
} */

.MToolControl.TrimStack {
	frame-image:  url(./gtkHandle.png);
	handle-image:  url(./gtkHandle.png);
    frame-cuts: 5px 1px 5px 16px;
}


/* ###################### Global Styles ########################## */

/* ++++++ Remove these to have ONLY the main IDE shell dark ++++++ */

Composite, ScrolledComposite, ExpandableComposite, TabFolder, CLabel, Label,
ToolItem, Sash, Group, Hyperlink, RefactoringLocationControl, Link, FilteredTree,
ProxyEntriesComposite, NonProxyHostsComposite, DelayedFilterCheckboxTree,
Splitter, ScrolledPageContent, ViewForm, LaunchConfigurationFilteredTree,
ContainerSelectionGroup, BrowseCatalogItem, EncodingSettings, MessageLine,
ProgressMonitorPart, DocCommentOwnerComposite,
Button /* SWT-BUG: checkbox inner label font color is not accessible */,
ViewForm > ToolBar, /* SWT-BUG: ToolBar do not inherit rules from ViewForm */
Shell [style~='SWT.DROP_DOWN'] > GradientCanvas, /* ignored */
/* SWT-BUG dirty workaround [Eclipse Bug 419482]: a generic rule (eg: Composite > *) needed to catch an
   element without a CSS id, a CSS class and a seekable Widget name, cannot be overridden
   by a subsequent more specific rule used to correct the style for seekable elements (<1>): */
TabFolder > Composite > *, /* Composite > CommitSearchPage$... */
TabFolder > Composite > * > * /* [style~='SWT.NO_BACKGROUND'] <- generate E4 non-sense bugs in apparently not related other rules */, /* Composite > ContentMergeViewer$... > TextMergeViewer$... */
DocCommentOwnerComposite > Group > *, /* Group > DocCommentOwnerComposite$... */
TabFolder > Composite > ScrolledComposite > *, /* ScrolledComposite > ControlListViewer$... */
Shell > Composite > Composite > *, /* Composite > StatusDialog$MessageLine (SWT-BUG: ignored) */
Composite > Composite > Composite > ToolBar, /* Window->Preference (top toolbar) */
Composite > Composite > Composite > Group > *, /* Group > CreateRefactoringScriptWizardPage$... */
Shell > Composite > Composite > Composite > *, /* Composite > FilteredPreferenceDialog$... */
ScrolledComposite > Composite > Composite > Composite > *, /* Composite > NewKeysPreferencePage$... */
Shell > Composite > Composite > Composite > Composite > Composite > *, /* Composite > ShowRefactoringHistoryWizardPage$... */
Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > *, /* Composite > RefactoringWizardDialog$... */
Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > * > * /* Composite > RefactoringWizardDialog$... */ {
    background-color:#515658;
    color:#eeeeee;
}

Combo, List,
/* It might be useless but currently it's needed due to a strange priority
   policy used by the E4 platform to apply CSS rules to SWT widgets (see <1>): */
Composite > List,
TabFolder > Composite > List,
TabFolder > Composite > * > List,
DocCommentOwnerComposite > Group > List,
TabFolder > Composite > ScrolledComposite > List,
Shell > Composite > Composite > List,
Composite > Composite > Composite > Group > List,
Shell > Composite > Composite > Composite > List,
ScrolledComposite > Composite > Composite > Composite > List,
Shell > Composite > Composite > Composite > Composite > Composite > List,
Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > List, 
Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > * > List {
    background-color: #41464A;
    color: #dddddd;
}

Text {
    background-color: #515658;
    color: #cccccc;
}

Text[style~='SWT.DROP_DOWN'] {
    /* search boxes and input fields */
    background-color: #41464A;
    color: #dddddd;
}
Text[style~='SWT.SEARCH'],
Text[style~='SWT.SEARCH'] + Label /* SWT-BUG: adjacent sibling selector is ignored (CSS2.1) */ {
    /* search boxes */
    background-color: #949DA5;
    color: #ffffff;
}
Text[style~='SWT.POP_UP'] {
    background-color: #34383B;
    color: #dddddd;
}
Text[style~='SWT.READ_ONLY'] {
    background-color: #515658;
    color: #bbbbbb;
}
/* Text[style~='SWT.POP_UP'][style~='SWT.ERROR_MENU_NOT_POP_UP'][style~='SWT.ICON_WARNING'] {
      /* Dirty way to catch error popup labels
        (currently it's impossible since there's no difference
        at all from some other Text elements) */
/*    background-color: #742025;
      color: #FF9997;
} */

StyledText {
    background-color: #383C3E;
    color: #dddddd;
}

Composite > StyledText,
Shell [style~='SWT.DROP_DOWN'] > StyledText, /* for eg. folded code popup (but it's ignored) */
/* It might be useless but currently it's needed due to a strange priority
   policy used by the E4 platform to apply CSS rules to SWT widgets (see <1>): */
ScrolledComposite > Composite > Composite > Composite > StyledText {
    background-color: #252525;
    color: #dddddd;
}

ScrolledFormText, FormText {
    background-color: #687174;
    color: #eeeeee;
}

Table,
/* It might be useless but currently it's needed due to a strange priority
   policy used by the E4 platform to apply CSS rules to SWT widgets (see <1>): */
Composite > Table,
TabFolder > Composite > Table,
TabFolder > Composite > * > Table,
DocCommentOwnerComposite > Group > Table,
TabFolder > Composite > ScrolledComposite > Table,
Shell > Composite > Composite > Table,
Composite > Composite > Composite > Group > Table,
Shell > Composite > Composite > Composite > Table,
ScrolledComposite > Composite > Composite > Composite > Table,
Shell > Composite > Composite > Composite > Composite > Composite > Table,
Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > Table, 
Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > * > Table {
    background-color: #35393C;
    color: #dddddd;
}

Tree,
/* It might be useless but currently it's needed due to a strange priority
   policy used by the E4 platform to apply CSS rules to SWT widgets (see <1>): */
Composite > Tree,
TabFolder > Composite > Tree,
TabFolder > Composite > * > Tree,
DocCommentOwnerComposite > Group > Tree,
TabFolder > Composite > ScrolledComposite > Tree,
Shell > Composite > Composite > Tree,
Composite > Composite > Composite > Group > Tree,
Shell > Composite > Composite > Composite > Tree,
ScrolledComposite > Composite > Composite > Composite > Tree,
Shell > Composite > Composite > Composite > Composite > Composite > Tree,
Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > Tree, 
Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > * > Tree {
    background-color: #2F2F2F;
    color: #CCC;
}

/* prevent CSS Spy red borders to be grayed with a generic Shell selector */
Shell[style~='SWT.SHADOW_ETCHED_OUT'], Shell[style~='SWT.SHADOW_ETCHED_IN'],
Shell[style~='SWT.CHECK'], Shell[style~='SWT.TITLE'], Shell[style~='SWT.OK'],
Shell[style~='SWT.CANCEL'], Shell[style~='SWT.ABORT'], Shell[style~='SWT.DROP_DOWN'],
Shell[style~='SWT.ARROW'], Shell[style~='SWT.RADIO'], Shell[style~='SWT.SINGLE'],
Shell[style~='SWT.SHADOW_IN'], Shell[style~='SWT.TOOL'], Shell[style~='SWT.RESIZE'],
Shell[style~='SWT.SHELL_TRIM'], Shell[style~='SWT.FILL'], Shell[style~='SWT.ALPHA'],
Shell[style~='SWT.BORDER'], Shell[style~='SWT.DIALOG_TRIM'], Shell[style~='SWT.IGNORE'],
Shell[style~='SWT.FULL_SELECTION'], Shell[style~='SWT.SMOOTH'], Shell[style~='SWT.VIRTUAL'],
Shell[style~='SWT.APPLICATION_MODAL'], Shell[style~='SWT.MEDIUM'], Shell[style~='SWT.LONG']
{
    background-color: #515658;
    color: #cccccc;
}
Shell > Composite > Table[style~='SWT.DROP_DOWN'] {
    background-color: #35393C;
    color: #dddddd;
}

Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite,
Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite Composite,
Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite ScrolledComposite,
Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite Canvas,
Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite StyledText,
Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite Label {
/* Error information popup */
    background-color: #2F2F2F;
    color: #CCC;
}

TextSearchControl {
    background-color: #41464A;
    color: #dddddd;
}

ViewerPane,
DrillDownComposite,
ViewerPane > ToolBar,
DrillDownComposite > ToolBar {
    background-color: #232323;
    color: #CCC;
}

ProgressInfoItem,
CompareViewerPane,
CompareViewerPane > * {
    background-color: #333;
    color: #eeeeee;
}

ProgressIndicator {
    background-color: #777;
    color: #eeeeee;
}

DiscoveryItem,
DiscoveryItem Label,
DiscoveryItem Composite {
    background-color: #383C3E;
    color: #dddddd;
}
DiscoveryItem StyledText {
    background-color: #383C3E;
    color: #aaaaaa;
}
DiscoveryItem Link {
    background-color: #383C3E;
    color: #8B9498;
}

CatalogSwitcher,
CatalogSwitcher > ScrolledComposite > Composite > Composite /* ignored because hard-coded */,
CategoryItem {
    background-color: #515658;
    color: #dddddd;
}
CategoryItem > GradientCanvas > Label { /* SWT-BUG: GradientCanvas styles are ignored */
    background-color: #fafafa;
    color: #333333;
}

WebSite {
    background-color: #41464A;
    color: #dddddd;
}

.MPartStack {
    background-color: #222;
    color: #f7f8f8;
    swt-tab-outline: #484848; /* border color for selected tab */
    swt-outer-keyline-color: #4B4C4F; /* border color for whole tabs container */
    swt-unselected-tabs-color: #494A4D #404043 #272727 99% 100%; /* title background for unselected tab */
    swt-selected-tab-fill: #292929; /* title background for selected tab (gradient bottom color) */
}

CTabFolder[style~='SWT.DOWN'][style~='SWT.BOTTOM'] {
    /* Need to restore a native renderer or the bottom inner tabs won't be displayed */
    swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


CTabFolder Tree, CTabFolder Canvas {
    background-color: #2F2F2F;
    color: #CCC;
}
.MPartStack.active Tree,
.MPartStack.active CTabFolder Canvas {
    background-color: #262626;
    color: #CCC;
}

.MPartStack.active Table{
    background-color: #2F2F2F;
    color: #CCC;
}

.View {
    background-color: #313538;
    color: #F5F5F5;
}
/* not triggered
.View.active {
    background-color: #333;
} */

CTabItem,
CTabItem CLabel{
    background-color: #333;
    color: #BBB;
}
CTabItem:selected,
CTabItem:selected CLabel {
    color: #FFF;
}

Form,
TitleRegion,
TitleRegion > * {
    background-color: #505F70;
    color: #9AC9D8;
}

Section {
    background-color: #4F5355;
    color: #AEBED0;
}

Form > LayoutComposite > LayoutComposite > * {
    background-color: #515658;
    color: #EEEEEE;
}

LayoutComposite, LayoutComposite > FormText,
LayoutComposite > Label,
LayoutComposite > Button,
LayoutComposite > * > LayoutComposite > Section > LayoutComposite > * /*LayoutComposite > MasterDetailBlock$... > LayoutComposite > Section > LayoutComposite > ExtensionsSection$...*/{
    background-color: #4F5355;
    color: #F4F7F7;
}

LayoutComposite ScrolledPageBook,
LayoutComposite Sash {
    background-color: #4F5355;
    color: #F4F7F7;
}

LayoutComposite > Text,
LayoutComposite > Combo {
    background-color: #414445;
    color: #F4F7F7;
}

LayoutComposite > Table {
    background-color: #333;
    color: #FFF;
}

Twistie {
    color: #E8E4DF;
}

#SearchField {
    /* background-image: url('./searchbox.png'); */
    /* SWT-BUG: textures are applied as a label over the native ones, */
    /* in this way textures with alpha color are not usable; */
    /* default margins and padding cannot be modified and textures are not */
    /* scaled properly to fit the container size: this makes the result ugly, */
    /* moreover a texture is drawn over the widget, so also the text is covered */
    color: #f0f0f0;
}

/* Button {
      background-color: inherit;  /* ignored */
      /* background-image: url('./button_bg.png') */
/* } */

/* Button[style~='SWT.CHECK'] { */
    /* currently, Button object isn't consistent (eg. also a checkbox/radio is seen as Button) */
    /* so, css rules applied to Button have to be overridden for non-Button matches */
/* } */

.MPartSashContainer {
    background-color: #515658;
    color: #EEEEEE;
}

PageSiteComposite, PageSiteComposite > CImageLabel {
    color: #EEEEEE;
}
PageSiteComposite > PropertyTable {
    background-color: #333;
    color: #EEEEEE;
}

FlyoutControlComposite, FlyoutControlComposite ToolBar, FlyoutControlComposite CLabel {
    background-color: #3f4447;
    color: #EEEEEE;
}

/* ###################### Top Toolbar ########################## */

#org-eclipse-ui-main-toolbar, #PerspectiveSwitcher {
    eclipse-perspective-keyline-color: #585858;
    background-color: #515658 #515658 100%;
    handle-image: none;
    color: #EBE8E4;
}


/* #################### Bottom Status Bar ######################## */

#org-eclipse-ui-StatusLine,
#org-eclipse-ui-ProgressBar,
#org-eclipse-ui-ProgressBar Canvas {
    color: #CCCCCC;
}
#org-eclipse-ui-StatusLine CLabel {
    color: #BDBAB7;
}

StatusLine, ImageBasedFrame{
    color: #BDBAB7;
}
